@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
}

.btn-primary {
  @apply bg-white text-black font-bold py-2 px-4 rounded;
}
